body.home{
    #hero{
        background: url('img/ramen.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        } //overlay 
       .inner-hero{
           display: flex;
           flex-direction: column;
           align-items: center;
           position: relative;
           top: 50%;
           transform: translateY(-50%);
           img{
               width: 300px;
           }
           h1{
               font-size: 75px;
               color: #ffffff;
           }
       } //inner hero
       #mobile-navigation{
        .nav-line{
            width: 4px;
            height: 2px;
            background: #000000;
        }
       }
    } //hero
} //body home